Package:      ave-handset
Version:      130.0
Architecture: all
Depends:      python (>=2.6.5),
              ave-workspace (>=104.0),
              python-psutil (>=0.4.1),
              python-serial,
              alsa-utils (>=1.0.25)
Pre-Depends:  ave-galatea (>=13.0),
              ave-common (>=86.1)
Description:  APIs for handling communication with handsets
