Baojian Li <baojian.li@sonymobile.com>                 baojian.li <baojian.li@sonymobile.com>
Bonnie Du <bonnie.du@sonymobile.com>                   Du, Bonnie (EXT) <bonnie.du@sonymobile.com>
Cecilia Svensson <cecilia.svensson@sonymobile.com>     Svensson, Cecilia x <cecilia.svensson@sonymobile.com>
Emma Ren <emma.ren@sonymobile.com>                     Ren, Emma (EXT) <emma.ren@sonymobile.com>
Feng Yang <feng.yang@sonymobile.com>                   feng yang <feng.yang@sonymobile.com>
Fredrik Åkerblom <fredrik.akerblom@sonymobile.com>     Åkerblom, Fredrik <fredrik.akerblom@sonymobile.com>
Huaming Lin <huaming.lin@sonymobile.com>               Lin Huaming <huaming.lin@sonyericsson.com>
Huaming Lin <huaming.lin@sonymobile.com>               Lin Huaming <huaming.lin@sonymobile.com>
Johan Nilsson <johan3.nilsson@sonymobile.com>          Johan 3 Nilsson <johan3.nilsson@sonymobile.com>
Klas Lindberg <klas.lindberg@sonymobile.com>           Lindberg, Klas <klas.lindberg@sonymobile.com>
Klas Lindberg <klas.lindberg@sonymobile.com>           Klas Lindberg <klas.lindberg@sonyericsson.com>
Klas Lindberg <klas.lindberg@sonymobile.com>           Klas Lindberg <klas.lindberg@gmail.com>
Macrov Gao <macrov.gao@sonymobile.com>                 Gao, Macrov (EXT) <macrov.gao@sonymobile.com>
Macrov Gao <macrov.gao@sonymobile.com>                 Macrov 2 Gao <macrov.gao@sonymobile.com>
Masayuki Yokoyama <masayuki.x.yokoyama@sonymobile.com> Yokoyama, Masayuki X <masayuki.x.yokoyama@sonymobile.com>
Toshiaki Tanaka <toshiaki.x.tanaka@sonymobile.com>     toshiaki.tanaka <toshiaki.x.tanaka@sonymobile.com>
Quanhao Xu <quanhao.xu@sonymobile.com>                 quanhao xu <quanhao.xu@sonymobile.com>
Qiang Wang <qiang3.wang@sonymobile.com>                Qiang 3 Wang <qiang3.wang@sonymobile.com>
Qiang Wang <qiang3.wang@sonymobile.com>                Qiang3 Wang <qiang3.wang@sonymobile.com>
Sheng Zou <sheng.zou@sonymobile.com>                   Zou, Sheng <sheng.zou@sonymobile.com>
Stefan Karlsson <stefan3.karlsson@sonymobile.com>      Karlsson <23060127@seldlx0017.corpusers.net>
Sven Tryding <sven.tryding@sonymobile.com>             sven tryding <sven.tryding@sonymobile.com>
Weichao Ouyang <weichao.ouyang@sonymobile.com>         ouyang weichao <weichao.ouyang@sonymobile.com>
Wendy Liu <wendy3.liu@sonymobile.com>                  Liu, Wendy 3 <wendy3.liu@sonymobile.com>
Xiaoming Zhang <xiaoming.zhang@sonymobile.com>         xiaoming zhang <xiaoming.zhang@sonymobile.com>
Yoshika Noguchi <yoshika.noguchi@sonymobile.com>       Yoshika.Noguchi <yoshika.noguchi@sonymobile.com>
Zhenhui Yang <zhenhui.yang@sonymobile.com>             Yang Zhenhui <zhenhui.yang@sonymobile.com>
Zhong Chen <zhong2.chen@sonymobile.com>                Chen, Zhong2 (EXT) <zhong2.chen@sonymobile.com>
